﻿<!-- View for the main index page -->
@model GradExam.ViewModels.HomeIndexViewModel
@{
    ViewData["Title"] = "Home Page";
}


<div class="col-sm-6">
    <h2>Index</h2>
    <p>This is a test for Nikole</p>
    <p>This is a test for the whole team.</p>

    <div>
        <a href="/Home/Admin">Admin Works</a>
    </div>
    <div>
        <a href="/Home/Director">Director Works</a>
    </div>
    <div>
        <a href="/Home/Instructor">Instructor Works</a>
    </div>
    <div>
        <a href="/Home/Basic">Basic Works</a>
    </div>
</div>

<div class="col-sm-6">
    <h3>List of Users to Log In</h3>
    <p>Password for all is: <b>password</b></p>
    <ul>
        @foreach(var user in Model.Users)
        {
                <li>@user.UserName</li>
        }
    </ul>
</div>


