﻿<!-- View for an exam's details -->
@model GradExam.ViewModels.ViewExamViewModel
@{
    ViewData["Title"] = "ViewExam";


}

@using (Html.BeginForm("ViewExam", "Exam", FormMethod.Post))
{
    @Html.HiddenFor(model => model.Exam)
    <!-- Content goes here -->
    <div class="col-sm-4">
        <h2>@Model.Exam.Student.Name</h2>
        <hr/>
        <h4><b>Courses Enrolled</b></h4>
        <ul style="list-style: square;">
            @foreach(var item in Model.Exam.Student.StudentCourses)
            {
                <li style="font-size: small;">@item.Course.Name - @item.Course.Semester - @item.Course.Instructor.FullName</li>
            }
        </ul>
    </div>

    <div class="col-sm-4">
        @foreach (var sc in Model.Responses)
        {
            <h4>@Model.Exam.Student.StudentCourses.SingleOrDefault(c => c.Course.Id == sc.Key).Course.Name</h4>

            for (var i = 0; i < sc.Value.Count(); i++)
            {
                <p>@Model.Responses[sc.Key][i].Question.Question</p>
                @Html.TextAreaFor(model => model.Responses[sc.Key][i].Response)
                @Html.EditorFor(model => model.Responses[sc.Key][i].Rating, new { htmlAttributes = new { type = "number", min = "1", max = "10" } })
              
            }
        }
    </div>

    <button type="submit" class="btn btn-primary">Save</button>

}